{% extends "ADMIN/adminBase.html" %}
{% block header %}

{% if messages %}
{% for message in messages %}
<script>
  alert("{{ message }}")
</script>
{% endfor %}
{% endif %}

<section class="w3l-contact-main">
    <div class="contact-info-6">
        <div class="wrapper">
            <div class="contact-hny-inner">
                <div class="comment-top d-grid">
                    <div class="comment-bottom lavi_mail_grid_right">
                        <h3 class="hny-title text-left">Children's Rights</h3>
                        <p class="para-contact"></p>
                        <form method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="w3lName">Right Name</label>

                                <input type="text" name="rightname" id="w3lName" placeholder="Right Name">
                            </div>
                            <!-- <div class="form-group">
                                <label for="w3lSender">Act Year</label>
                                <input type="text" name="actyear" id="w3lSender" pattern="[0-9]{4}" maxlength="4"
                                    minlength="4" placeholder="Act Year">
                            </div> -->
                            <div class="form-group">
                                <label for="w3lSubject">Description</label>
                                <textarea name="desc" id="w3lMessage" placeholder="Description"></textarea>
                            </div>
                            <button type="submit" class="btn submit mt-3">ADD</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}