{% extends "ADMIN/adminBase.html" %}
{% load static %}
{% block header %}

<section class="w3l-team-main-6">
	<!-- /team-grids -->
	<div class="team-content">
		<div class="wrapper">
			<h3 class="hny-title text-center">Amazing Team</h3>
			<div class="d-grid grid-col-4 text-center">
				<div class="team-main-6">
					<div class="column-6">
						<a href="team-single.html"><img class="img-responsive" src="{% static 'assets/images/team-1.jpg' %}" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Adam Ster</a></h6>
						<p class="sm-text-32">Founder</p>
						<p class="sub-paragraph midd-para-team">Lorem, ipsum dolor sit amet. Repellendus, labore..
						</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook-square"
									aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter-square"
									aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="team-single.html"><img class="img-responsive" src="assets/images/team-2.jpg" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">John doe</a></h6>
						<p class="sm-text-32">Volunteer</p>
						<p class="sub-paragraph midd-para-team">Lorem, ipsum dolor sit amet. Repellendus, labore..
						</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook-square"
									aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter-square"
									aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="team-single.html"><img class="img-responsive" src="assets/images/team-3.jpg" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Dane Walker</a></h6>
						<p class="sm-text-32">Volunteer</p>
						<p class="sub-paragraph midd-para-team">Lorem, ipsum dolor sit amet. Repellendus, labore..
						</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook-square"
									aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter-square"
									aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>
				<div class="team-main-6">
					<div class="column-6">
						<a href="team-single.html"><img class="img-responsive" src="assets/images/team-4.jpg" alt=" "></a>
					</div>
					<div class="right-team-9">
						<h6><a href="team-single.html" class="title-team-32">Elijah</a></h6>
						<p class="sm-text-32">Manager</p>
						<p class="sub-paragraph midd-para-team">Lorem, ipsum dolor sit amet. Repellendus, labore..
						</p>
						<div class="buttons-teams">
							<a class="facebook" href="#url"><span class="fa fa-facebook-square"
									aria-hidden="true"></span></a>
							<a class="twitter" href="#url"><span class="fa fa-twitter-square"
									aria-hidden="true"></span></a>
							<a class="insta" href="#url"><span class="fa fa-instagram" aria-hidden="true"></span></a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	<!-- /team-grids -->
</section>

{% endblock %}